<h1>DE VUMBRIS IDEARVM</h1>
<h2><em>On the Shadows of Ideas</em></h2>

<p>An attempt to translate a difficult bit of Neoplatonic, Hermetic
mysticism by a man killed by the Catholic Church.</em></p>

<p>Source is <a
  href="http://books.google.com/books?id=iVouAAAAYAAJ&printsec=frontcover&dq=de+umbris+idearum&hl=en&sa=X&ei=da4bUtz4Osm8iwKrlIH4Ag&ved=0CEEQ6AEwAw#v=onepage&q=de%20umbris%20idearum&f=false">Google's
  digitzation of the book by Salvatore Tugini</a>.</p>

<img class="bruno-statue" style="margin-left: 25%" src="img/Giordano_Bruno.jpg">


